<h1> All about the Alpha Blog...</h1>

<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">
<body>

<p1>Welcome to the Alpha Blog created by Kojack for the Udemy Rails Developer Course <br />  I suppose the blog will contain lots of interesting stuff as the course goes on.  Stay tuned.</p1>
<br />
<br />
<%= link_to 'Home',  root_path %>

</body>
</html>